.small-post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 21rem;
    max-width: 21rem;
    min-height: 22rem;
    max-height: 22rem;
    background-color: rgba(87, 155, 177, 0.1);
    color: #000 !important;
    /* object-fit: cover; */
}

a {
    color: #000 !important;
}

.small-post img {
    min-width: 21rem;
    max-width: 21rem;
    min-height: 11rem;
    max-height: 11rem;
    object-fit: cover;
}

.small-content {
    padding: 1rem 1rem;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 0.7rem;
}

.small-content h3 {
    overflow: hidden;
    text-overflow: clip;
}

.small-content p {
    font-size: 0.8rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p::before {
    float: right;
    width: calc(100% - 20.6em);
    height: 1em;
    content: '';
  }
