.create {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 5rem;
}

.create-title,
.create-blog {
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}

.btn-add {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.warn {
    color: red;
    margin: 1rem 0 -2rem;
}

textarea {
    resize: vertical; /* Allow vertical resizing */
    overflow: hidden; /* Hide the scrollbar */
}

/* label {
    font-size: 1.8rem;
    font-weight: 900;
    text-decoration: underline;
} */
