footer {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: top;
    padding: 2rem 2rem;
    background-color: #1e1e1e;
    color: #fff;
    margin-top: 2rem;
}

h3 {
    padding: 0 0 1rem;
}

.about {
    width: 20%;
    letter-spacing: 0.1px;
    line-height: 1.7;
}

.info ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    text-align: center;
}

.info ul li a {
    color: #fff !important;
}

.newsletter,
.newsletter form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem;
}

.newsletter input {
    font-size: 1.1rem;
    padding: 1rem;
    outline: none;
    width: 110%;
    border-radius: 10px;
}

.btn-auth.subscribe {
    background-color: #579bb1;
    font-weight: 700;
    letter-spacing: 0.2px;
}
